
<form action ="/login" method="POST"class=" form-group  m-3 p-4 bg-light " method="post">
    <h1 class="text-dark text-center"><img src="./Images/logo.jpg" width="50px" height="50px">Hotel Shree Saravanabhavan</h1>
    </h1>
    <h1 class=" text-center text-warning  ">Login</h1>
    <% if(messages.error){ %>
        <span class="text-danger text-sm"> <%= messages.error %></span>
     <% } %> 
    <input name="email"  type="email" class="form-control" placeholder="enter your email" >
    <br>
    <input name="password" type="password" class="form-control" placeholder="password">

    <br>
    <input class="btn btn-danger" class="form-control" type="submit" value="Login">
    <br>
    <br>
</form>