<div class="loginsection1">
         <img src="./Images/login.jpg" width="auto"height="auto">
</div>
 
<div class="loginsection2">
  <div class="col-md-6 col-lg-12 " >
        <form action ="/" method="POST">
            <h1 class="text-dark text-center">
                <img src="./Images/logo.jpg" width="50px" height="50px">Hotel Shree Saravanabhavan</h1>
            </h1>
            <h1 class=" text-center  ">Login</h1>
              <% if(messages.error){ %>
                     <span class="text-danger text-sm"> <%= messages.error %></span>
              <% } %> 
              <div class="form-group">
              <input type="radio" id="admin" name="role" value="Admin">
                       <label for="male">Admin</label><br>
               <input type="radio" id="customer" name="role" value="Customer">
                       <label for="female">Customer</label><br>
                </div>
                <div class="form-group">
                     <input name="email"  type="email" class="form-control" placeholder="enter your email" >
                </div>
                <div class="form-group">
                     <input name="password" id="pass" type="password" class="form-control" placeholder="password">
                </div>
                <div class="custom-control custom-switch">
                    <input  name="showpass"type="checkbox" class="custom-control-input" id="show" >
                    <label class="custom-control-label"  for="show">Show Password</label>
                  </div>
              
                <input class="btn login" class="form-control" type="submit" value="Login"> 
              <br>
              <br>
              Create a new account?
                <a class="link" href="/register">Register</a>
    
        </form>
  </div>
</div>