
      <form class="form-inline justify-content-center my-2 ">
        <input class="form-control  mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <div class="card p-3 m-sm-3" style="width: 250px;">
            <img src="./Images/card1.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>

            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="card p-3 m-sm-3" style="width: 250px;">
            <img src="./Images/card2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>
            </div>
          </div>
        </div>
      
      <div class="col-sm-4 col-md-3">
        <div class="card p-3 m-sm-3" style="width: 250px;">
          <img src="./Images/card3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="card p-3 m-sm-3" style="width: 250px;" >
          <img src="./Images/card4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>
          </div>
        </div>
      </div>
    <div class="col-sm-4 col-md-3">
      <div class="card p-3 m-sm-3" style="width: 250px;">
        <img src="./Images/card5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
      <div class="card  p-3 m-sm-3" style="width: 250px;">
        <img src="./Images/card6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>
        </div>
      </div>
    </div>

  <div class="col-sm-4 col-md-3">
    <div class="card  p-3 m-sm-3" style="width: 250px;">
      <img src="./Images/card7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="card  p-3 m-sm-3" style="width: 250px;">
      <img src="./Images/card8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>
      </div>
    </div>
  </div>

<div class="col-sm-3 col-md-4">
  <div class="card  p-3 m-sm-3" style="width: 250px;">
    <img src="./Images/card9.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>
    </div>
  </div>
</div>
<div class="col-sm-3 col-md-4">
  <div class="card  p-3 m-sm-3" style="width: 250px;">
    <img src="./Images/card10.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-text">50<button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>
    </div>
  </div>
</div>
</div>
</div>
  






