<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/css/index.css">
    <title>Hotel Shree Saravanabhavan</title>
</head>

<body>
  <div class="container ">
    
    <nav class=" navbar navbar-expand-sm bg-light navbar-light text-dark">
        <a href="/menu" class="navbar-brand"><img  src="./Images/logo.jpg" width="30px" height="30px">Hotel Shree Saravanabhavan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto ">
              <li class="nav-item ">
                <a class="nav-link " href="/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Offers</a>
          </li>
          </ul>
        
              <ul class="navbar-nav mr-0">
            <% if(user){ %>
            <li class="nav-item">
              <form id ="logout" action="/logout" method="POST">
              </form>
                <a onclick ="document.getElementById('logout').submit()" class="nav-link" href="#">Logout</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Login</a>
            </li>
            <% }%>
            <li class="nav-item ">
                <a class="nav-link" href="/cart">
                  <span id="cartCounter"><%= session.cart ? session.cart.totalQty : ' ' %></span>
                  <img class="float-right" src="./Images/cart.jpg" width="30px" height="30px"></a>
            </li>
           </ul>
       
        </div>
      </nav>
   
     
  