@import './variables';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body{
  background:$primary;
}
.container{
  background-color:red;
}
.nav{
   
  flex-direction:row reverse;
}