.loginsection1 {
  width: 100%;
  position: fixed;
}

.loginsection2 {
  height: auto;
  float: right;
  padding-top: 200px;
}
.loginsection2 h1 {
  color: #5a3b02;
}
.loginsection2 .btn {
  color: white;
  background-color: #e64607;
  float: left;
}
.loginsection2 a:hover {
  color: red;
}

.registersection1 {
  width: 100%;
  position: fixed;
}

.registersection2 {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
}
.registersection2 h1 {
  color: #5a3b02;
}
.registersection2 span {
  color: #631d04;
}
.registersection2 .btn {
  color: white;
  background-color: #e64607;
  float: left;
}

.header .navbar {
  background-color: #fa8a2e;
  border-radius: 20px;
}
.header .navbar .nav-link {
  color: #631d04;
}
.header .navbar .nav-link:hover {
  color: yellow;
}
.header .navbar .nav-link:active {
  color: yellowgreen;
}
.header .navbar .cart {
  padding: 2px;
}

.section1 {
  width: 20%;
  height: auto;
  float: left;
}

.section2 {
  width: 70%;
  height: auto;
  float: left;
}
