body {
  background-color: #f7d18c;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.loginsection1 {
  width: 100%;
  position: fixed;
}

.loginsection2 {
  height: auto;
  float: right;
  padding-top: 200px;
}
.loginsection2 h1 {
  color: #5a3b02;
}
.loginsection2 .btn {
  color: white;
  background-color: #e64607;
  float: left;
}
.loginsection2 a:hover {
  color: red;
}
.loginsection2 a:disabled {
  color: white;
  background-color: #615d5c;
  float: left;
}

.registersection1 {
  width: 100%;
  position: fixed;
}

.registersection2 {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
}
.registersection2 h1 {
  color: #5a3b02;
}
.registersection2 span {
  color: #631d04;
}
.registersection2 .btn {
  color: white;
  background-color: #e64607;
  float: left;
}

.header .navbar {
  background-color: #fa8a2e;
  border-radius: 20px;
}
.header .navbar .nav-link {
  color: #631d04;
}
.header .navbar .nav-link:hover {
  color: yellow;
}
.header .navbar .nav-link:active {
  color: yellowgreen;
}
.header .navbar .cart {
  padding: 2px;
}

.section1 {
  width: 20%;
  height: auto;
  float: left;
}

.section2 {
  width: 70%;
  height: auto;
  float: left;
}

.home_nav a {
  color: #472f03;
  background-color: #faba44;
  border-radius: 20px;
  border-left: 1px solid orangered;
  border-right: 1px solid orangered;
}
.home_nav a:hover {
  background-color: orangered;
}
.home_nav a:active {
  background-color: #7c2506;
}
.home_nav a:visited {
  background-color: #7c2506;
}

.card {
  background-color: #f7b02e;
}
.card img {
  border-color: #f3620d;
  border-radius: 10px;
}
.card .btn {
  background-color: #f3620d;
  color: white;
  border-color: white;
}

.menu-cart {
  padding-top: 15px;
  font-style: italic;
  font-size: larger;
}
.menu-cart img {
  padding: 15px;
}

.payment {
  background-color: #faba44;
  border-radius: 30px;
  margin: 350px;
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 200px;
}

.btn {
  background-color: #e64607;
  margin: 10px;
  margin-right: 0px;
}

.thead {
  background-color: #faba44;
}
