<section class="empty-cart">
    <div class="container-fuild bg-white p-5 text-center"> 
        <div class="">
            <img  src="./Images/full-cart.jpg"width="10%" height="auto"alt="full-cart">
            <h4 class="text-danger">Order summary</h4>
        </div>
       <div class="jumbotron m-5 p-4">
           <div class="row">
               <div class="col-lg-4">
                <h4 class="text-left">Dosa</h4>
               </div>
               <div class="col-lg-4">
              <h4><span>1</span>pcs</h4>
               </div>
               <div class="col-lg-4">
                <h4><span>50</span></h4>
               </div>
           </div>
       </div>
       <hr>
       <div class="text-center m-5 ">
           <strong>Total Amount: </strong>
           <h5><span>50</span></h5>
           </div>

           <form class="form-inline justify-content-center my-2 mx-2 ">
         <textarea class="form-control mr-4" placeholder="Address" rows="3"></textarea>
        <input class="form-control  mr-sm-2" type="text" placeholder="Phone Number" aria-label="Phone Number">
          </form>
          <button class="btn btn-danger" type="submit">Order Now</button>
         <!-- <button class="btn btn-danger" type="submit">Login to continue</button>  -->
      <!--  <div>
            <button href="/" class="btn btn-warning" type="submit">Continue Shopping </button>
            </div>
            <br>
             <img  src="./Images/empty-cart.jpeg" width="50%" height="auto"alt="empty-cart">
        -->
    </div>
</section>